# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset

In [3]:
pd.read_csv("C:/python_advance/pandas_data.csv")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
df=pd.read_csv("C:/python_advance/pandas_data.csv")

### Step 4. See the first 10 entries

In [5]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
#observation - matlab total no. of rows kitne present hai table ke under
df.shape
df.shape[0] #for rows like no of rows
df.shape[1] #for columns

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
df.shape[1]

### Step 7. Print the name of all the columns.

In [10]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
#if we take group by 
#groupby implement hota hai non aggregated column pe or support aggregate column
#1 technique
a = df.groupby("item_name").agg({"quantity":"sum"})
b = a.sort_values("quantity",ascending=False)
b
b.head(1)

#2technique(in slicing)
a = df.groupby("item_name").agg({"quantity":"sum"})
b = a.sort_values("quantity",ascending=False)[0:1]
b

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
a = df.groupby("item_name").agg({"quantity":"sum"})
b = a.sort_values("quantity",ascending=False)[0:1]
b
b.quantity

# or we can write this like
b["quantity"]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [6]:
a = df.groupby("choice_description").agg({"quantity":"sum"})
b = a.sort_values("quantity",ascending=False)[0:1]
b

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [21]:
e = df["quantity"].sum()
print(e)

# or 

a= df.order_id.count()
print(a)
# for multiple(ek column ke liye ek bracet or 1 se jada ke liye 2)
# df[["quantity","item_name"]].sum()

4972
4622

### Step 13. Turn the item price into a float

In [22]:
df.item_price.dtype

dtype('O')

In [23]:
# astype () -its is a fucntion use to convert datatype

df.item_price.str.slice(1).astype("float")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [24]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [25]:
# to remove from daatabase
df["item_price"] = df.item_price.str.slice(1).astype("float")

In [26]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.a. Check the item price type

In [27]:
df.item_price.dtype

dtype('float64')

#### Step 13.b. Check the item price type

In [29]:
df.quantity.dtype

dtype('int64')

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
revenue = df["quantity"] *df[ "item_price"]
e=revenue.sum()
print(e)

39237.02

### Step 15. How many orders were made in the period?

In [40]:
# f = df.order_id.count()
# print(f)(galat hai ye )

# or

g= df["order_id"].nunique() # nunique count de raha hai unique value ka
print(g)

1834
[   1    2    3 ... 1832 1833 1834]

### Step 16. What is the average revenue amount per order?

In [ ]:
df['revenue'] = df['quantity'] * df['item_price']
order_revenue = df.groupby('order_id')['revenue'].sum()
average_revenue_per_order = np.mean(order_revenue)

print("Average Revenue per Order:", average_revenue_per_order)

### Step 17. How many different items are sold?